* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(139, 25, 25);
}

.content {
    width: 100%;
    height: 500px;
    margin: 20rem auto;
    background-color: aqua;
}

.big-img {
    width: 80%;
    height: 100%;
    background-color: black;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail {
    background-color: blue;
    width: 20%;
}

.thumbnail img {
    height: calc(100% / 5);
}

button {
    padding: 5px;
    border-radius: 15px;
}

#btn-top {
    translate: -50%;
}

#btn-bottom {
    translate: 50%;
}